
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.Homepage_Content{
    display: flex;
    justify-content: center;
}

.content .insight{
    position: relative;
    display: flex;
    gap: 40px;
    width: 100%;
    height: auto;
}

.content .insight .left_content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 16px;
}

.content .insight .left_content .time{
    position: relative;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.content .insight .left_content .related_to{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.content .insight .left_content .divider{
    width: 100%;
    height: 1px;
    background-color: #D7D7D7;
}

.content .insight .left_content .related_to .text{
    position: relative;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.content .insight .left_content .related_to .service_btn{
    position: relative;
    width: fit-content;
    padding: 12px 24px 12px 24px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222;
    transition: 0.3 ease-in-out;
}

.content .insight .left_content .related_to .service_btn:hover{
    border-color:#404040;
}

.content .insight .right_content{
    width: 100%;
    display: flex;
    gap: 40px;
}

.content .insight .right_content .text{
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
}

.content .insight .right_content .image{
    border-radius: 12px;
}


@media screen and (max-width: 1224px) {  


}

@media screen and (max-width: 1024px) {

    .content .insight .left_content{
        width: 200px;
    }
}

@media screen and (max-width: 786px) {

    .content .insight{
        flex-direction: column;
        align-items: center;
    }
    
    .content .insight .left_content .time{
        text-align: center;
    }

    .content .insight .left_content .related_to{
        align-items: center;
    }

    .content .insight .left_content .related_to .service_btn{
        width: 100%;
    }

    .content .insight .left_content .related_to .text{
        text-align: center;
    }

}

@media screen and (max-width: 480px){

    
    .content .about .heading{
        font-size: 2rem;
    }

    .content .our_purpose .heading{
        font-size: 2rem;
    }
    
    .content .our_purpose{
        flex-direction: column-reverse;
        gap: 30px;
    }
    

    .content .our_purpose .purpose_image{
        width: 100%;
    }

}


